/1/
/Docs/
/autorun.inf
/boot-*.tar.bz2
/boot.*/grub/
/boot/
/bootmgfw.efi
/bootmgr
/bootmgr.efi
/efi/
/efi_from_laptops/
/isos/*.iso
/menu.c32
/setup.exe
/sources/
/support/
/syslinux.cfg
/ubnfilel.txt
/ubnpathl.txt
/upgrade/
